/** <h2 class="sg-h2">Forms</h2> */

/**
 * Text & Number Inputs:
 * Form elements are positioned width the grid
 * Use `.right.inline` for inline labels<br>
 *
 *     @example
 *     div.container
 *         form
 *             div.row
 *                 div.col-5
 *                     label Name
 *                     input(type="text", name="title", class="")
 *                 div.col-5
 *                     label School
 *                     input(type="text", name="title", class="")
 *                 div.col-2
 *                     label Age
 *                     input(type="number", value="100")
 *             div.row
 *                 div.col-12
 *                     label Textarea
 *                     textarea(placeholder="none")
 *             div.row
 *                 div.col-12
 *                     label Disabled Input
 *                     input(type="text", name="title", placeholder="Student", disabled="disabled")
 *             div.row
 *                 div.col-4
 *                     label.right.inline Name
 *                 div.col-8
 *                     input(type="text", name="title", class="")
 */

/**
* Radio & Checkbox:
* Comment here
*
*     @example
*     div.container
*         form
*             div.row
*                 div(class="col-6")
*                     legend Radios
*                     input(type="radio", id="inpt1", name="radio-inp")
*                     label(for="inpt1") Radio 1
*                     input(type="radio", id="inpt2", name="radio-inp")
*                     label(for="inpt2") Radio 2
*                 div(class="col-6")
*                     legend Checkboxes
*                     input(type="checkbox", id="inpt3")
*                     label(for="inpt3") Checkbox 1
*                     input(type="checkbox", id="inpt4")
*                     label(for="inpt4") Checkbox 2
*/

/**
* Select Menu:
* Use `.right.inline` for inline labels<br>
*
*     @example
*     form
*         label Select Menu
*             select
*                 option(value="value_1") value 1
*                 option(value="value_2") value 2
*                 option(value="value_2") value 3
*         div.row
*             div.col-3
*                 label.inline.right Inline Select Menu
*             div.col-9
*                 select
*                     option(value="value_1") value 1
*                     option(value="value_2") value 2
*                     option(value="value_2") value 3
*/

// Based on Forms from foundation
// Form normalization via normalize.scss

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
    display: inline-block;
    width: 100%;
    height: 2.4375rem;
    padding: .5rem;
    // border: 1px solid $brand-tertiairy;
    border: 1px solid #DADFE5;
    margin: 0 0 1rem;
    font-family: inherit;
    font-size: 1rem;
    // color: #0a0a0a;
    color: $brand-tertiairy;
    background-color: #FEFEFE;
    // box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    border-radius: 0px;
    transition: box-shadow .5s, border-color .25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
}

[type='text']:focus,
[type='password']:focus,
[type='date']:focus,
[type='datetime']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='week']:focus,
[type='email']:focus,
[type='number']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='url']:focus,
[type='color']:focus,
textarea:focus {
    background-color: #FDFDFD;
    outline: none;
    border-bottom: 1px solid $brand-succes;
    box-shadow: 0 1px 0 0 $brand-succes, 0 0 8px rgba(0, 0, 0, .15);
    transition: box-shadow .5s, border-color .25s ease-in-out;
}

textarea {
    max-width: 100%;
}
textarea[rows] {
    height: auto;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: $brand-tertiairy;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: $brand-tertiairy;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: $brand-tertiairy;
}

input::placeholder,
textarea::placeholder {
    color: $brand-tertiairy;
}

input:disabled,
input[readonly],
textarea:disabled,
textarea[readonly] {
    background-color: lighten($brand-tertiairy, 20%);
    cursor: not-allowed;
}

[type='submit'],
[type='button'] {
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type='search'] {
    box-sizing: border-box;
}

[type='file'],
[type='checkbox'],
[type='radio'] {
    margin: 0 0 1rem;
}

[type='checkbox'] + label,
[type='radio'] + label {
    display: inline-block;
    margin-left: .5rem;
    margin-right: 1rem;
    margin-bottom: 0;
    vertical-align: baseline;
}
[type='checkbox'] + label[for],
[type='radio'] + label[for] {
    cursor: pointer;
}

label > [type='checkbox'],
label > [type='radio'] {
    margin-right: .5rem;
}

[type='file'] {
    width: 100%;
}

label {
    display: block;
    margin: 0;
    font-size: .75rem;
    font-weight: normal;
    line-height: 1.5rem;
    color: $brand-secondary;
    &.right {
        text-align: right;
    }
    &.inline {
        line-height: 2.8rem;
    }
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

legend {
    margin-bottom: .5rem;
    max-width: 100%;
}

select {
    width: 100%;
    height: 2.4375rem;
    padding: .5rem;
    border: 1px solid $brand-tertiairy;
    margin: 0 0 1rem;
    font-size: 1rem;
    font-family: inherit;
    line-height: normal;
    color: #0A0A0A;
    background-color: #FEFEFE;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="18" height="20" viewBox="0 0 18 20">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M0.488742738,12.5422796 L7.43217135,19.4857082 C7.43959168,19.493414 7.44187485,19.5042591 7.44958058,19.5116794 C7.77664578,19.8387446 8.20845175,20.0011356 8.63968692,19.999994 C9.0709221,20.0011356 9.50244268,19.83903 9.82979327,19.5116794 C9.837499,19.5039737 9.83949678,19.493414 9.8472025,19.4857082 L16.7906311,12.5422796 C17.4427637,11.890147 17.4427637,10.8230469 16.7906311,10.1711997 C16.1384985,9.51935244 15.0713983,9.51906704 14.4195511,10.1711997 L8.63968692,15.9504931 L2.86010812,10.1709143 C2.2079755,9.51878164 1.14087535,9.51878164 0.489028135,10.1709143 C-0.162819082,10.8230469 -0.163104479,11.890147 0.488742738,12.5422796 Z M0.488742738,2.86017944 L7.43217135,9.80360805 C7.43959168,9.81131378 7.44187485,9.82215887 7.44958058,9.8295792 C7.77664578,10.1566444 8.20845175,10.3190354 8.63968692,10.3178938 C9.0709221,10.3190354 9.50244268,10.1569298 9.82979327,9.8295792 C9.837499,9.82187348 9.83949678,9.81131378 9.8472025,9.80360805 L16.7906311,2.86017944 C17.4427637,2.20804683 17.4427637,1.14094668 16.7906311,0.489099461 C16.1384985,-0.162747756 15.0713983,-0.163033154 14.4195511,0.489099461 L8.63968692,6.26867827 L2.86010812,0.489099461 C2.2079755,-0.163033154 1.14087535,-0.163033154 0.489028135,0.489099461 C-0.162819082,1.14123208 -0.163104479,2.20804683 0.488742738,2.86017944 Z" id="drop" fill="#B2BCC6"></path>
    </g>
    </svg>');
    background-size: .5rem;
    background-position: right 6px center;
    background-origin: content-box;
    background-repeat: no-repeat;
}

// Opntionally replace by image
// Targeting IE browsers
@media screen and (min-width: 0\0) {
    select {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="18" height="20" viewBox="0 0 18 20">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <path d="M0.488742738,12.5422796 L7.43217135,19.4857082 C7.43959168,19.493414 7.44187485,19.5042591 7.44958058,19.5116794 C7.77664578,19.8387446 8.20845175,20.0011356 8.63968692,19.999994 C9.0709221,20.0011356 9.50244268,19.83903 9.82979327,19.5116794 C9.837499,19.5039737 9.83949678,19.493414 9.8472025,19.4857082 L16.7906311,12.5422796 C17.4427637,11.890147 17.4427637,10.8230469 16.7906311,10.1711997 C16.1384985,9.51935244 15.0713983,9.51906704 14.4195511,10.1711997 L8.63968692,15.9504931 L2.86010812,10.1709143 C2.2079755,9.51878164 1.14087535,9.51878164 0.489028135,10.1709143 C-0.162819082,10.8230469 -0.163104479,11.890147 0.488742738,12.5422796 Z M0.488742738,2.86017944 L7.43217135,9.80360805 C7.43959168,9.81131378 7.44187485,9.82215887 7.44958058,9.8295792 C7.77664578,10.1566444 8.20845175,10.3190354 8.63968692,10.3178938 C9.0709221,10.3190354 9.50244268,10.1569298 9.82979327,9.8295792 C9.837499,9.82187348 9.83949678,9.81131378 9.8472025,9.80360805 L16.7906311,2.86017944 C17.4427637,2.20804683 17.4427637,1.14094668 16.7906311,0.489099461 C16.1384985,-0.162747756 15.0713983,-0.163033154 14.4195511,0.489099461 L8.63968692,6.26867827 L2.86010812,0.489099461 C2.2079755,-0.163033154 1.14087535,-0.163033154 0.489028135,0.489099461 C-0.162819082,1.14123208 -0.163104479,2.20804683 0.488742738,2.86017944 Z" id="drop" fill="#B2BCC6"></path>
        </g>
        </svg>');
    }
}
select:disabled {
    background-color: #E6E6E6;
    cursor: not-allowed;
}
select::-ms-expand {
    display: none;
}
select[multiple] {
    height: auto;
    background-image: none;
}
